# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env
pip-log.txt

# virtualenv
venv/
ENV/
.env/

# PyInstaller
*.manifest
*.spec

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
